__pycache__/
*.pyc
.pytest_cache/
*.pyo
*.pyd
*.swp
.venv/
env/
venv/
ENV/
*.egg-info/
dist/
build/
*.sqlite3
*.ipynb
ModelTraining.ipynb
BankNote_Authentication.csv
TestFile.csv
.git
.gitignore
node_modules/
Dockerfile.*
*.log